body {
    background: #c7b39b url("/images/pic1.png") no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#container {
    /*border: 3px solid black;*/
    height: 1200px;
    width: 1100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
}

#header {
    /*border: 3px solid black;*/
    height: 200px;
    width: auto;
    box-shadow: -2px 2px 29px 3px rgba(0,187,255,0.75), inset 8px 7px 29px 8px rgba(0,187,255,0.75);
    background-color: #00a2e2;
}

#logo {
    margin-left: 35px;
    margin-top: 35px;
    height: 70px;
    width: 350px;
    float: left;
    /*border: 5px solid black;*/
}

.functions {
    margin: 15px 25px;
    height: 70px;
    width: 650px;
    float: right;
    text-align: right;
    font-size: 16pt;
}

.functions a {
    text-decoration: none;
    font: 16pt "Times New Roman";
    color: black;
    border-left: black solid ;
    padding-left: 5px;
}

.functions a:hover {
    color: white;
}

nav {
    margin-top: 45px;
    padding: 0;
    height: 60px;
    width: 1110px;
    float: left;
    /*border: 5px solid black;*/
    text-align: left;
}

nav a {
    text-decoration: none;
    font: 15pt "Times New Roman";
}

nav ul {
    margin: 0;
    padding: 0;
}

.main-menu a {
    padding: 10px 75px;
    margin: 0;
    color: black;
}

.main-menu li {
    display: inline;
}

.main-menu a:hover {
    color: white;
}

.main-menu a:active {
    color: white;
}


#body {
    height: 870px;
    width: auto;
    margin: 2px 0;
    color: black;
    padding: 15px;
    font: 18pt Times, serif;
    box-shadow: -2px 2px 29px 3px rgba(0,187,255,0.75);
}

.user-data {
    margin: 0;
    padding: 0;
}

.user-data-table {
    font-size: 14pt;
}


#footer {
    /*border: 3px solid black;*/
    height: 125px;
    width: auto;
    box-shadow: -2px 2px 29px 3px rgba(0,187,255,0.75);
    background-color: slategrey;
}

#copyright {
    padding: 55px 20px;

}

#welcome-header {
    margin-top: 50px;
    height: 20%;
    width: auto;
}

#welcome-body {
    height: 34%;
    width: auto;
}

#welcome-footer {
    height: 33%;
    width: auto;
}

#login-center {
    width: 650px;
    margin: 50px auto;
}

#register-center {
    width: 900px;
    margin: 50px auto;
}

.welcomeform {
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2), inset 0px 1px 0px 0px rgba(250,250,250,0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Calibri, serif;
    font-size: 14pt;
}

.welcomeform ul {
    padding: 0;
    margin-top: 10px;
}
.welcomeform li {
    display: inline;
}

.welcomelogin {
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2), inset 0px 1px 0px 0px rgba(250,250,250,0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Calibri, serif;
    font-size: 14pt;
}

.welcomelogin ul {
    padding: 0;
    margin-top: 10px;
}
.welcomelogin li {
    display: inline;
}

label {
    display: block;
    color: #999;
}

input:not([type=submit]) {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    font-size: 13pt;
}

input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 14pt;
}

.service li {
    list-style-type: none;
}

.tech-spec li {
    list-style-type: none;
    margin: 3px;
}

.tech-spec div {
    color: red;
}

select {
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}


.customer-req {
    float: left;
    padding: 10px;
    width: 350px;
}

.customer-req th {
    text-align: left;
}

.provider-req {
    float: left;
    width: 350px;
    padding: 10px;
}

.provider-req th {
    text-align: left;
}

.tech-spec-details {
    padding: 10px;
    float: left;
}

.sanction-contract {
    width: 1000px;
    clear: both;
    float: left;
    padding: 10px;
    border-top: black groove 1px;
    font-size: 15pt;
    font-style: oblique;
}

.sanction-contract input[type=submit] {
    margin-left: 10px;
}

.tech-spec-details th {
    text-align: left;
}

.main-text {
    padding: 10px;
}

.main-text p {
    padding: 0;
    margin: 1px;
    font: 15pt Times, serif;
}

#personal-cabinet {
    float: left;
    padding: 10px;
    font-size: 14pt;
}

.contract-list {
    float: left;
    margin-top: 5px;
    font-size: 15pt;
    width: 1000px;
}

.contract-list td {
    padding: 10px;
    margin: 10px;
    border: black 1px groove;
}

.contract-list th {
    padding: 10px;
    margin: 10px;
    border: black 1px groove;
}

.contract-list p {
    padding: 0px 0px 0px 10px;
    margin: 5px 0px 0px;
}

.contract-list input {
    padding: 2px;
    margin: 0;
}

#next {
    float: left;
    padding: 12px;
}

#contract-pagination {
    float: left;
}

#prev {
    float: left;
    padding: 12px;
}

.exception-table {
    font-size: 17pt;
    margin-top: 100px;
    border: black solid;
}

.welcomeform div {
    float: left;
}

#register-error {
    color: red;
    margin-top: 5px;
}

.per-month p {
    padding: 0;
    margin: 0;
}

.non-standard-error p {
    padding: 0;
    margin: 0;

}

.language-change form {
    float: right;
}

.language-change input[type=submit] {
    background: none;
    color: black;
    border: none;
    margin: 5px;
    padding: 0;
}

.language-change input[type=submit]:hover {
    color: white;
}